.calendario {
    h3 {
        padding: 1rem 0;
        text-transform: uppercase;
        background-color: $naranja;
        color: $blanco;
        i{
            color: $blanco;
            padding-right: 1.2rem;
        }
    }
    .dia {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 3rem;
        @include tablet(){
            grid-template-columns: repeat(3,1fr);
        }
        .evento {
            transition: all .3s ease;
            padding: 1rem 0;
        }

        .evento:hover {
            background-color: $gris;
            transform: scale(1.1);
            border: 1px solid $gris;
        }

        i {
            color: $naranja;
            padding-right: 1.2rem;
        }

        p {
            text-align: center;
            margin: 0%;
            font-size: 1.8rem;
        }
        .titulo {
            margin-bottom: 2rem;
            font-size: 2.2rem;
            color: $naranja;
            text-transform: uppercase;
        }

    }

}