.dark-mode {
    background-color: darken($grisOscuro,10);
    p{
        color: $blanco;

    }
    a,h1,h2,h3,h4 {
        color: $gris !important;
    }
    .anuncio {
        background-color: $grisOscuro !important;
        border: 1px solid $grisOscuro im !important;
    }
    .iconos-caracteristicas img {
        filter:invert(100%);
    }
    .texto-nosotros blockquote {
        color: $blanco;
    }
    .formulario {
        legend, label, p {
            color: $gris;
        }
        input:not([type="submit"]),
        select,textarea {
            background-color: $grisOscuro;
            color: $blanco;
            border: 1px solid $gris;
        }
    }
}